{
    "env": {
        "browser": true
    },
    "extends": ["airbnb", "plugin:react/jsx-runtime"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]}],
        "react/function-component-definition": [1, {
            "namedComponents": "arrow-function",
            "unnamedComponents": "arrow-function"
        }],
        "react/jsx-one-expression-per-line": [0, {"allow": "none"}]
    }
}